/* stylelint-disable no-missing-end-of-source-newline */
body {
  background-color: rgb(253, 251, 251);
  width: 80vw;
}

header {
  position: fixed;
  top: 0;
}

#minha_foto {
  border-radius: 50%;
  width: 300px;
  margin-top: 50px;
  padding: 30px;
}

article , aside {
  font-size: large;
}

table td , th {
  text-align: center;
  border: black solid 2px;
}